<div data-layout="row wrap" data-layout-align="space-between start">
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input
            matInput
            [(ngModel)]="project.image.name"
            placeholder="Exported file name"
            value="beadifier"
        />
    </mat-form-field>
</div>

<div style="padding-bottom: 1em">
    <div data-layout="row wrap" data-layout-align="space-between start">
        <div>
            <mat-slide-toggle
                [(ngModel)]="configuration.useSymbols"
                name="use symbols"
                >Use Symbols
            </mat-slide-toggle>
        </div>
    </div>
</div>

<div data-layout="row wrap" data-layout-align="space-between start">
    <div>
        <mat-form-field>
            <mat-select
                aria-label="format"
                placeholder="Format"
                [(ngModel)]="printer"
                name="printer"
            >
                <mat-option
                    *ngFor="let printer of availablePrinters"
                    [value]="printer"
                >
                    {{ printer.name() }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div data-layout="row wrap" data-layout-align="space-between start">
    <div>
        <button aria-label="export" mat-raised-button (click)="export()">
            Export
        </button>
    </div>
</div>
