<div data-layout="column" data-layout-align="start start">
    <div class="mat-subtitle-1">Dithering</div>
    <div>
        <mat-slide-toggle
            [(ngModel)]="configuration.enable"
            name="enable"
            (change)="callback()"
            >Enable
        </mat-slide-toggle>
    </div>
    <div flexLayout="row" data-layout-gap="1em" data-layout-align="start center">
        <mat-form-field data-flex="15">
            <input
                type="number"
                matInput
                (input)="callback()"
                [(ngModel)]="configuration.hardness"
                placeholder="Hardness"
                [value]="configuration.hardness"
                matAutosize="true"
            />
            <span matSuffix>%</span>
        </mat-form-field>
        <mat-slider
            min="0"
            max="100"
            step="1"
         #ngSlider><input matSliderThumb (change)="callback()" #ngSliderThumb="matSliderThumb" [(value)]="configuration.hardness" />
        </mat-slider>
        <button class="mat-icon-button" (click)="resetHardness()">
            <mat-icon>loop</mat-icon>
        </button>
    </div>
</div>
