.btn-small {
    width : 30px !important;
    min-width : 30px !important;
    height : 30px !important;
    min-height : 30px !important;
    padding: 3px !important;
    margin : 3px !important;
    line-height: 25px !important;
}

.board {
    border:1px solid black; 
    background-color:pink;
}