<mat-tab-group dynamicHeight [selectedIndex]="0">
    <mat-tab label="Configuration">
        <div class="example-small-box mat-elevation-z4">
            <form (submit)="preventSubmit($event)">
                <div
                    style="padding: 1em"
                    fxLayout="row"
                    fxLayoutAlign="space-between wrap"
                >
                    <div
                        fxLayout="column"
                        fxLayoutGap="1em"
                        fxFlex.xs="100%"
                        fxFlex.sm="100%"
                        fxFlex.md="33%"
                        fxFlex.lg="33%"
                        fxFlex.xl="33%"
                    >
                        <div>
                            <app-upload-image-button
                                (onLoad)="onLoadingImageCallback($event)"
                            ></app-upload-image-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </mat-tab>

    <mat-tab label="Boards" [disabled]="!project.image">
        <div class="example-large-box mat-elevation-z4">
            <form (submit)="preventSubmit($event)">
                <div
                    style="padding: 1em"
                    fxLayout="row wrap"
                    fxLayoutAlign="space-between start"
                >
                    <app-board-configuration
                        [configuration]="project.boardConfiguration"
                        [srcWidth]="project.srcWidth"
                        [srcHeight]="project.srcHeight"
                        (onChange)="callback()"
                    >
                    </app-board-configuration>
                </div>
            </form>
        </div>
    </mat-tab>

    <mat-tab label="Palettes" [disabled]="!project.image">
        <div class="example-large-box mat-elevation-z4">
            <form (submit)="preventSubmit($event)">
                <div
                    style="padding: 1em"
                    fxLayout="row wrap"
                    fxLayoutAlign="space-between start"
                >
                    <app-palette-configuration
                        [configuration]="project.paletteConfiguration"
                        (onChange)="callback()"
                    >
                    </app-palette-configuration>
                </div>
            </form>
        </div>
    </mat-tab>

    <mat-tab label="Advanced" [disabled]="!project.image">
        <div class="example-large-box mat-elevation-z4">
            <form (submit)="preventSubmit($event)">
                <div
                    style="padding: 1em"
                    fxLayout="row wrap"
                    fxLayoutAlign="space-between start"
                >
                    <div
                        fxFlex.xs="100%"
                        fxFlex.sm="100%"
                        fxFlex.md="50%"
                        fxFlex.lg="33%"
                        fxFlex.xl="25%"
                    >
                        <app-image-configuration
                            [configuration]="project.imageConfiguration"
                            (onChange)="callback()"
                        >
                        </app-image-configuration>
                    </div>
                    <div
                        fxFlex.xs="100%"
                        fxFlex.sm="100%"
                        fxFlex.md="50%"
                        fxFlex.lg="33%"
                        fxFlex.xl="25%"
                    >
                        <app-dithering-configuration
                            [configuration]="project.ditheringConfiguration"
                            (onChange)="callback()"
                        >
                        </app-dithering-configuration>
                    </div>
                    <div
                        fxFlex.xs="100%"
                        fxFlex.sm="100%"
                        fxFlex.md="50%"
                        fxFlex.lg="33%"
                        fxFlex.xl="25%"
                    >
                        <app-matching-configuration
                            [configuration]="project.matchingConfiguration"
                            (onChange)="callback()"
                        >
                        </app-matching-configuration>
                    </div>
                    <div
                        fxFlex.xs="100%"
                        fxFlex.sm="100%"
                        fxFlex.md="50%"
                        fxFlex.lg="33%"
                        fxFlex.xl="25%"
                    >
                        <app-renderer-configuration
                            [configuration]="project.rendererConfiguration"
                            (onChange)="callback()"
                        >
                        </app-renderer-configuration>
                    </div>
                </div>
            </form>
        </div>
    </mat-tab>

    <mat-tab label="Usage" [disabled]="!project.image">
        <div class="example-large-box mat-elevation-z4">
            <form (submit)="preventSubmit($event)">
                <div
                    style="padding: 1em"
                    fxLayout="row wrap"
                    fxLayoutAlign="space-between start"
                >
                    <app-bead-usage
                        [usage]="usage"
                        [palettes]="project.paletteConfiguration.palettes"
                        (onPaletteChange)="callback()"
                    ></app-bead-usage>
                </div>
            </form>
        </div>
    </mat-tab>

    <mat-tab label="Save & Export" [disabled]="!project.image">
        <div class="example-large-box mat-elevation-z4">
            <form (submit)="preventSubmit($event)">
                <div style="padding: 1em">
                    <app-export
                        [project]="project"
                        [usage]="usage"
                        [reducedColor]="reducedColor"
                        [configuration]="project.exportConfiguration"
                    ></app-export>
                </div>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>
