<form (submit)="preventSubmit($event)">
    <div fxLayout="row" fxLayoutAlign="space-between center wrap">
        <div fxLayout="column" fxLayoutGap="1em" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="30%" fxFlex.lg="30%" fxFlex.xl="30%">
            <div>
                <upload-image-button (onLoad)="onLoadingImageCallback($event)"></upload-image-button>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field>
                    <mat-select aria-label="palette" placeholder="Palette" [(ngModel)]="project.palette" name="palette" (change)="callback()" [compareWith]="paletteEquality">
                        <mat-option *ngFor="let palette of availablePalettes | async" [value]="palette">
                            {{palette.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button aria-label="reload palette" mat-raised-button (click)="resetPalette()">
                    <mat-icon>cached</mat-icon>
                </button>
            </div>
            <div>
                <mat-form-field>
                    <mat-select aria-label="board" placeholder="Board type" [(ngModel)]="project.board" name="board" (change)="callback()">
                        <mat-option *ngFor="let board of availableBoards" [value]="board">
                            {{board.name}} ({{board.nbBeadPerRow}}x{{board.nbBeadPerRow}})
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-checkbox [(ngModel)]="project.dithering" name="dithering" (change)="callback()">Dithering</mat-checkbox>
            </div>
            <div>
                <board-size [project]="project" (onBoardSizeChange)="callback()"></board-size>
            </div>
        </div>
        <div fxLayout="column" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="70%" fxFlex.lg="70%" fxFlex.xl="70%">
            <div fxLayout="row wrap">
                <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="25%" fxFlex.xl="20%" fxLayoutAlign="start center" *ngFor="let entry of project.palette.entries">
                    <palette-entry [entry]="entry" (onToggleCallback)="callback()"></palette-entry>
                </div>
            </div>
        </div>
    </div>
</form>