<div
    class="palette-entry"
    data-layout="row"
    data-layout-align="start center"
    (click)="toggle()"
    [ngStyle]="{ opacity: entry.enabled ? '1' : '0.3' }"
>
    <div
        class="palette-entry-color-preview"
        [ngStyle]="{
            'border-color':
                'rgba(' +
                entry.color.r +
                ',' +
                entry.color.g +
                ',' +
                entry.color.b +
                ',' +
                entry.color.a / 255 +
                ')'
        }"
    ></div>
    <em class="palette-entry-color-ref">{{ entry.ref }}</em>
    <span class="palette-entry-color-name">{{ entry.name }}</span>
</div>
