.palette-entry {
    cursor: pointer;
    max-width: 100%;

    .palette-entry-color-preview {
        height: 6px;
        width: 6px;
        border-radius: 12px;
        box-shadow:
            0 0 1px black,
            inset 0 0 1px #cccccc;
        display: inline-block;
        border-width: 4px;
        border-style: solid;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .palette-entry-color-ref {
        font-size: 0.8em;
        margin-right: 5px;
    }

    .palette-entry-color-name {
        font-size: 0.8em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
    }
}
