<div fxLayout="column" fxLayoutAlign="start start">
    <div class="mat-subheading-2">Color Matching</div>
    <div>
        <mat-form-field>
            <mat-select
                aria-label="matching"
                [(ngModel)]="configuration.matching"
                name="matching"
                (selectionChange)="callback()"
            >
                <mat-option
                    *ngFor="let matching of availableMatchings"
                    [value]="matching"
                >
                    {{ matching.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
