<div data-layout="column" data-layout-align="start">
    <div class="mat-subheading-2">Image</div>
    <div flexLayout="row" data-layout-gap="1em" data-layout-align="start center">
        <mat-form-field data-flex="15">
            <input
                type="number"
                matInput
                (input)="setBrightness()"
                [(ngModel)]="brightness"
                placeholder="Brightness"
                [value]="brightness"
                matAutosize="true"
            />
            <span matSuffix>%</span>
        </mat-form-field>
        <mat-slider
            (change)="setBrightness()"
            min="0"
            max="200"
            step="1"
            [(value)]="brightness"
        >
        </mat-slider>
        <button class="mat-icon-button" (click)="resetBrightness()">
            <mat-icon>loop</mat-icon>
        </button>
    </div>
    <div flexLayout="row" data-layout-gap="1em" data-layout-align="start center">
        <mat-form-field data-flex="15">
            <input
                type="number"
                matInput
                (input)="setContrast()"
                [(ngModel)]="contrast"
                placeholder="Contrast"
                [value]="contrast"
                matAutosize="true"
            />
            <span matSuffix>%</span>
        </mat-form-field>
        <mat-slider
            (change)="setContrast()"
            min="0"
            max="200"
            step="1"
            [(value)]="contrast"
        ></mat-slider>
        <button class="mat-icon-button" (click)="resetContrast()">
            <mat-icon>loop</mat-icon>
        </button>
    </div>
    <div flexLayout="row" data-layout-gap="1em" data-layout-align="start center">
        <mat-form-field data-flex="15">
            <input
                type="number"
                matInput
                (input)="setSaturation()"
                [(ngModel)]="saturation"
                placeholder="Saturation"
                [value]="saturation"
                matAutosize="true"
            />
            <span matSuffix>%</span>
        </mat-form-field>
        <mat-slider
            (change)="setSaturation()"
            min="0"
            max="200"
            step="1"
            [(value)]="saturation"
        >
        </mat-slider>
        <button class="mat-icon-button" (click)="resetSaturation()">
            <mat-icon>loop</mat-icon>
        </button>
    </div>
    <div flexLayout="row" data-layout-gap="1em" data-layout-align="start center">
        <mat-form-field data-flex="15">
            <input
                type="number"
                matInput
                (input)="setGrayscale()"
                [(ngModel)]="grayscale"
                placeholder="Grayscale"
                [value]="grayscale"
                matAutosize="true"
            />
            <span matSuffix>%</span>
        </mat-form-field>
        <mat-slider
            (change)="setGrayscale()"
            min="0"
            max="100"
            step="1"
            [(value)]="grayscale"
        >
        </mat-slider>
        <button class="mat-icon-button" (click)="resetGrayscale()">
            <mat-icon>loop</mat-icon>
        </button>
    </div>
</div>
