.banner-container {
  width: 100%;
  height: 150px;

  img {
    object-fit: contain;
  }
}

.renderer {
  transform-origin: top left;
  width: 100%;
  pointer-events: none;
}

:host /deep/ .hidden-container canvas {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
}
