<div class="mat-typography" fxLayout="column" fxLayoutGap="1em">
  <div fxLayout="row">
    <a class="github-button" href="https://github.com/maxcleme" aria-label="Follow @maxcleme on GitHub">Follow @maxcleme</a>
    <a class="github-button" href="https://github.com/maxcleme/beadifier/issues" data-icon="octicon-issue-opened" aria-label="Issue maxcleme/beadifier on GitHub">Issue</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="banner-container">
      <div fxLayout="row" fxLayoutAlign="center">
        <img alt="banner" src="/assets/banner.png" width="100%">
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="90%">
      <mat-card>
        <mat-card-title>
          Settings
        </mat-card-title>
        <mat-card-content>
          <project-option [project]="project" (onLoad)="beadify($event)"></project-option>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div [ngStyle]="{'visibility': reducedColor ? 'visible' : 'hidden'}">
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="90%">
        <mat-card>
          <mat-card-content>
            <div fxLayout="row" fxLayoutWrap>
              <div fxLayout="column" fxLayoutGap="1em" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
                <div fxLayout="row">
                  <mat-checkbox [(ngModel)]="grid" (change)="beadify(this.project)">Display grid</mat-checkbox>
                </div>
                <div [ngStyle]="{'height' : aspectRatio * canvas.height * beadSize + 'px'}" fxLayout="row">
                  <div #preview class="renderer" [ngStyle]="{'transform':'scale('+aspectRatio+','+aspectRatio+')'}">
                  </div>
                </div>
              </div>
              <div fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="center" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%"
                fxFlex.xl="50%">
                <bead-usage [usage]="usage" (onPaletteChange)="beadify(this.project)"></bead-usage>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
                  <button aria-label="reduce color" mat-raised-button [disabled]="!hasUsageUnderPercent(1, usage)" (click)="removeColorUnderPercent(1, usage)">Reduce color under 1%</button>
                  <button aria-label="export" mat-raised-button (click)="exportBeadSheets()">Export...</button>
                </div>
              </div>
            </div>


          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" #source>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" class="hidden-container">
    <canvas #canvas></canvas>
  </div>


</div>