<div class="mat-typography" fxLayout="column" fxLayoutGap="1em">
    <div fxLayout="row">
        <ntkme-github-button user="maxcleme" type="follow">
        </ntkme-github-button>
        <ntkme-github-button user="maxcleme" repo="beadifier" type="issue">
        </ntkme-github-button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <div class="banner-container">
            <div fxLayout="row" fxLayoutAlign="center">
                <img alt="banner" src="/assets/banner.png" width="100%" />
            </div>
        </div>
    </div>

    <img
        #source
        [ngStyle]="{
            display: 'none',
            position: 'absolute',
            top: '0px',
            left: '0px',
            filter: project ? project.imageConfiguration.css() : ''
        }"
    />

    <div #canvasContainer class="hidden-container">
        <canvas></canvas>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" *ngIf="project">
        <div fxFlex="90%">
            <mat-card>
                <mat-card-content>
                    <app-project-option
                        [project]="project"
                        [usage]="usage"
                        [reducedColor]="reducedColor"
                        (onLoad)="beadify($event)"
                    >
                    </app-project-option>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div [ngStyle]="{ visibility: reducedColor ? 'visible' : 'hidden' }">
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="90%">
                <mat-card>
                    <mat-card-content>
                        <div fxLayout="column wrap" fxLayoutGap="1em">
                            <div
                                fxLayout="row"
                                fxFlex="100%"
                                fxLayoutGap="1em"
                                fxLayoutAlign="center center"
                            >
                                <div
                                    fxFlex="50%"
                                    class="mat-subheading-2"
                                    style="text-align: center"
                                >
                                    Pattern
                                </div>
                                <div
                                    fxFlex="50%"
                                    class="mat-subheading-2"
                                    style="text-align: center"
                                >
                                    Source
                                </div>
                            </div>
                            <div
                                fxLayout="row"
                                fxFlex="100%"
                                fxLayoutGap="1em"
                                fxLayoutAlign="center center"
                                style="width: 100%"
                            >
                                <div
                                    fxFlex="50%"
                                    [ngStyle]="{
                                        overflow: 'auto hidden',
                                        height:
                                            aspectRatio *
                                                project.boardConfiguration.board
                                                    .nbBeadPerRow *
                                                project.boardConfiguration
                                                    .nbBoardHeight *
                                                beadSize +
                                            'px'
                                    }"
                                >
                                    <div
                                        #preview
                                        class="renderer"
                                        [ngStyle]="{
                                            'will-change': 'transform',
                                            'transform-origin': '0% 0%',
                                            transform:
                                                'scale(' +
                                                aspectRatio +
                                                ',' +
                                                aspectRatio +
                                                ')'
                                        }"
                                    ></div>
                                </div>
                                <div
                                    fxFlex="50"
                                    [ngStyle]="{
                                        height:
                                            aspectRatio *
                                                project.boardConfiguration.board
                                                    .nbBeadPerRow *
                                                project.boardConfiguration
                                                    .nbBoardHeight *
                                                beadSize +
                                            'px'
                                    }"
                                >
                                    <img
                                        *ngIf="project && project.image"
                                        [src]="project.image.src"
                                        [ngStyle]="{
                                            height: project
                                                .rendererConfiguration.center
                                                ? '100%'
                                                : 'auto',
                                            width: project.rendererConfiguration
                                                .center
                                                ? '100%'
                                                : 'auto',
                                            'object-fit': project
                                                .rendererConfiguration.fit
                                                ? 'contain'
                                                : 'none',
                                            border: '1px solid',
                                            'border-color':
                                                'rgb(128, 128, 128)',
                                            filter: project
                                                ? project.imageConfiguration.css()
                                                : ''
                                        }"
                                    />
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
