<div data-layout="column" data-layout-align="start start">
    <div class="mat-subheading-2">Renderer</div>
    <div>
        <mat-slide-toggle
            [(ngModel)]="configuration.center"
            name="center"
            (change)="callback()"
            >Center
        </mat-slide-toggle>
    </div>
    <div>
        <mat-slide-toggle
            [(ngModel)]="configuration.fit"
            name="fit"
            (change)="callback()"
            >Fit to boards
        </mat-slide-toggle>
    </div>
    <div>
        <mat-slide-toggle
            [(ngModel)]="configuration.showGrid"
            name="show boards"
            (change)="callback()"
            >Show boards
        </mat-slide-toggle>
    </div>
</div>
