<div data-layout="column" data-layout-gap="1em">
    <div>
        <mat-form-field>
            <mat-select
                multiple
                aria-label="palettes"
                placeholder="Palettes"
                [(ngModel)]="configuration.palettes"
                name="palettes"
                (selectionChange)="callback()"
                [compareWith]="paletteEquality"
            >
                <mat-option
                    *ngFor="let palette of availablePalettes | async"
                    [value]="palette"
                >
                    {{ palette.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div
        data-layout="row wrap"
        *ngFor="let palette of configuration.palettes"
        data-layout-align="start center"
    >
        <div data-layout="row wrap" data-flex="100" style="margin-bottom: 1em">
            <mat-slide-toggle
                [checked]="enableAllPaletteEntry.get(palette.name)"
                (change)="toggleAll($event, palette.name)"
                >All</mat-slide-toggle
            >
        </div>
        <div
            data-flex-xs="50"
            data-flex-sm="33"
            data-flex-md="25"
            data-flex-lg="20"
            data-flex-xl="14.28"
            *ngFor="let entry of palette.entries"
        >
            <app-palette-entry
                [entry]="entry"
                (toggleCallback)="callback()"
            ></app-palette-entry>
        </div>
        <mat-divider style="margin-top: 1em" [inset]="true"></mat-divider>
    </div>
    <div data-layout="row wrap" data-layout-align="center center">
        <div class="mat-small mat-caption">
            Something wrong about colors ? Please fill an
            <a
                href="https://github.com/maxcleme/beadcolors/issues/new"
                target="blank"
                >issue</a
            >.
        </div>
    </div>
</div>
