<div data-layout="row wrap" data-flex="100" data-layout="space-between start">
    <div data-flex="100" data-layout-align="space-between start">
        <div class="mat-subtitle-1">
            Total : {{ countBeads(usage) }} beads
        </div>

        <div data-flex="row" data-layout-align="end center" data-layout-gap="1em">
            <button
                aria-label="reduce color"
                mat-raised-button
                [disabled]="!hasUsageUnderPercent(1, usage)"
                (click)="removeColorUnderPercent(1, usage, palettes)"
            >
                Reduce color under 1%
            </button>
            <button
                aria-label="undo"
                mat-raised-button
                [disabled]="history.length == 0"
                (click)="undo()"
            >
                Undo
            </button>
        </div>
    </div>
    <div
        data-flex-xs="100"
        data-flex-sm="100"
        data-flex-md="100"
        data-flex-lg="33"
        data-flex-xl="25"
    >
        <div data-layout="column" data-layout-align="center center">
            <div
                class="usage-chart-container"
                data-layout="row"
                data-layout-align="center center"
            >
                <canvas #polar width="100%"></canvas>
            </div>
        </div>
    </div>
    <div
        data-flex-xs="100"
        data-flex-sm="100"
        data-flex-md="100"
        data-flex-lg="66"
        data-flex-xl="75"
    >
        <div data-layout="column" data-layout-align="center center">
            <div
                class="usage-chart-container"
                data-layout="row"
                data-layout-align="center center"
            >
                <canvas #bar width="100%"></canvas>
            </div>
        </div>
    </div>
</div>
