<div class="bead-usage-container">
    <div class="toolbar">
        <div class="mat-subtitle-1">Total : {{ countBeads(usage) }} beads</div>

        <div
            class="buttons"
        >
            <button
                aria-label="reduce color"
                mat-raised-button
                [disabled]="!hasUsageUnderPercent(1, usage)"
                (click)="removeColorUnderPercent(1, usage, palettes)"
            >
                Reduce color under 1%
            </button>
            <button
                aria-label="undo"
                mat-raised-button
                [disabled]="history.length === 0"
                (click)="undo()"
            >
                Undo
            </button>
        </div>
    </div>
    <div class="charts-container">
        
                <div
                    class="usage-chart-container polar-chart-container"
            >
                    <canvas #polar></canvas>
                </div>
                <div
                    class="usage-chart-container bar-chart-container"
                >
                    <canvas #bar></canvas>
                </div>
         
    </div>
</div>
